body {
  margin: 0;
  font-size: 15px;
  color: $black;
  -ms-overflow-style: none;
}

html {
  -ms-overflow-style: none;
}

h4 {
  font-size: 19px;
  margin-top: 0;
  margin-bottom: 8px;
  color: #4e4e4e;
  letter-spacing: 0.1em;

  span {
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  }
}

img {
  max-width: 100%;
}

p {
  font-size: 14px;
  letter-spacing: 0.1em;
}

p,
span {
  &.large {
    font-size: 18px;
  }

  &.small {
    font-size: 12px;
  }
}

a {
  text-decoration: none;
  color: $purple;

  &:hover {
    outline: none;
  }
}

hr {
  border-top: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.text-bold {
  font-weight: 600;
}

/* Color */
.color-purple {
  color: $purple;
}

.color-pink {
  color: $pink;
}

.color-green {
  color: $green;
}

.color-grey {
  color: $grey;
}

*:focus {
  outline: none;
}

::-webkit-scrollbar {
  display: none;
}

.h-100 {
  height: 100%;
}

.card {
  // border-radius: 5px;
  padding: $grid-gutter-width / 2;
  background-color: rgba(0, 0, 0, 0.03);
  // background-color: #fff;
  // box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05), 4px 4px 0px 5px rgba(0, 0, 0, 0.03);
  // box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05), 12px 12px 0px 13px rgba(0, 0, 0, 0.03);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05);
}

.esri-feature p {
  margin-bottom: 8px !important;
}
