<!DOCTYPE html>
<html lang="zh-hk">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>眾新聞 - 武漢肺炎本港疫情</title>
    <meta name="description" content="香港2020年1月23日錄得首宗武漢肺炎確診個案，疫情持續。眾新聞與本地設計工作室Y714及開發人員Howard、Keith及Pang合作，整合衞生署衞生防護中心每日公布的個案資料，製作成武漢肺炎本港疫情互動專頁，讓讀者透過互動圖表，了解疫情的最新發展。">
    <meta property="og:title" content="眾新聞 - 武漢肺炎本港疫情" />
    <meta property="og:description" content="香港2020年1月23日錄得首宗武漢肺炎確診個案，疫情持續。眾新聞與本地設計工作室Y714及開發人員Howard Yiu、Pang Chan及Keith Chan合作，整合衞生署衞生防護中心每日公布的個案資料，製作成武漢肺炎本港疫情互動專頁，讓讀者透過互動圖表，了解疫情的最新發展。" />
    <meta property="og:url" content="https://covid-2019.hkcnews.com" />
    <meta property="og:image" content="<%= BASE_URL %>covid-og-image.jpg" />
  </head>
  <body>
    <noscript>
      <strong>We're sorry but corona doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-159990336-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-159990336-1');
    </script>
  </body>
</html>
