<template>
  <div class="h-100 d-flex flex-column">
    <h4><span>「疫廈」分佈</span></h4>
    <p>過去14天內有確診患者到訪過的大廈／食肆，以及其住所。</p>

    <p><span class="covid-btn color-pink" @click="copyText">{{ buttonText }}</span></p>

    <p><v-select v-model="currentBuildingDistrict" :options="district" :clearable="false"></v-select></p>

    <div class="row">
      <div class="col-sm-6">
        <table class="building-table left">
          <tr><td class="text-right" colspan="2">相關個案數目</td></tr>
          <template v-for="(building, n) in buildingListByDistrict">
            <tr :class="{'d-sm-none':(n % 2) > 0}" :key="n">
              <td>{{ building[0] }}</td>
              <td class="text-right">{{ building[1] }}</td>
            </tr>
          </template>
        </table>
      </div>

      <div class="d-none d-sm-block col-sm-6">
        <table class="building-table right">
          <tr><td class="text-right" colspan="2">相關個案數目</td></tr>
          <template v-for="(building, n) in buildingListByDistrict">
            <tr v-if="(n % 2) > 0" :key="n">
              <td>{{ building[0] }}</td>
              <td class="text-right">{{ building[1] }}</td>
            </tr>
          </template>
        </table>
      </div>
    </div>
  </div>
</template>

<script>

import vSelect from 'vue-select'

export default {
  name: "building",
  props: {
    govInfoBuildingList: {
      type: Array,
      default: () => ({})
    },
    govInfoDailyStat: {
      type: Array,
      default: () => ({})
    },
  },
  components: {
    vSelect
  },
  data() {
    return {
      currentBuildingDistrict: '油尖旺',
      buttonText: '複製內容'
    }
  },
  computed: {
    buildingListByDistrict() {
      let listObj = {}

      const filteredBuildingListing = this.govInfoBuildingList.filter((el) => {
        return el['地區'] == this.currentBuildingDistrict
      })

      for (let i = 0; i < filteredBuildingListing.length; i++ ) {
        if (listObj[filteredBuildingListing[i]['大廈名單']]) {
          listObj[filteredBuildingListing[i]['大廈名單']]['caseNo'] = listObj[filteredBuildingListing[i]['大廈名單']]['caseNo'].concat(filteredBuildingListing[i]['相關疑似/確診個案'].split(','))
        } else {
          listObj[filteredBuildingListing[i]['大廈名單']] = {
            buildingName: filteredBuildingListing[i]['大廈名單'],
            caseNo: filteredBuildingListing[i]['相關疑似/確診個案'].split(',')
          }
        }
      }

      let sortable = [];
      for (let caseBuilding in listObj) {
        sortable.push([caseBuilding, listObj[caseBuilding]['caseNo'].length]);
      }

      sortable.sort(function(a, b) {
        return b[1] - a[1];
      });

      return sortable
    },
    district() {
      let districtList = []

      for (let i = 0; i < this.govInfoBuildingList.length; i++ ) {
        if (districtList.indexOf(this.govInfoBuildingList[i]['地區']) < 0) {
          districtList.push(this.govInfoBuildingList[i]['地區'])
        }
      }

      return districtList
    }
  },
  methods: {
    copyText() {
      this.buttonText = "已複製"

      let tempText = "過去14天內確診患者曾到訪地方 (更新日期: " + this.govInfoDailyStat[this.govInfoDailyStat.length - 1]['更新日期']+ ")\n\n";

      tempText += "*" + this.currentBuildingDistrict + "區* \n";

      for (let i = 0; i < this.buildingListByDistrict.length; i++) {
        tempText += this.buildingListByDistrict[i][0] + " (" + this.buildingListByDistrict[i][1] + ")" + '\n'
      }

      tempText += "\n眾新聞製作的本港疫情互動專頁\nhttp://bit.ly/32QKTiu\n\n亼 緊貼眾新聞 亼\nFollow TG：https://t.me/hkcnews\nTwitter: https://bit.ly/2zykNXc\nIG：https://bit.ly/37AfYcp\nYouTube：https://bit.ly/37A1PMI"
      this.copyTextToClipboard(tempText)

      setTimeout(() => {
        this.buttonText = "複製內容"
      }, 1500)
    },
    copyTextToClipboard(text) {
      // https://stackoverflow.com/questions/400212/how-do-i-copy-to-the-clipboard-in-javascript
      var textArea = document.createElement("textarea");

      // Place in top-left corner of screen regardless of scroll position.
      textArea.style.position = 'fixed';
      textArea.style.top = 0;
      textArea.style.left = 0;

      // Ensure it has a small width and height. Setting to 1px / 1em
      // doesn't work as this gives a negative w/h on some browsers.
      textArea.style.width = '2em';
      textArea.style.height = '2em';

      // We don't need padding, reducing the size if it does flash render.
      textArea.style.padding = 0;

      // Clean up any borders.
      textArea.style.border = 'none';
      textArea.style.outline = 'none';
      textArea.style.boxShadow = 'none';

      // Avoid flash of white box if rendered for any reason.
      textArea.style.background = 'transparent';


      textArea.value = text;

      document.body.appendChild(textArea);
      textArea.focus();
      textArea.select();
      document.execCommand('copy');
      document.body.removeChild(textArea);
    }
  }
};
</script>

<style lang="scss" scoped>
  .text-right {
    text-align: right;
  }

  .covid-btn {
    padding: 8px 16px;
    border: 1px solid #ff7c66;
    border-radius: 4px;
    font-size: 12px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    &:hover {
      background-color: #ff7c66;
      color: white;
    }
  }

  .building-table {
    border-collapse: collapse;
    width: 100%;

    tr {
      td {
        padding: 6px 10px;
      }
    }

    &.left {
      tr {
        &:nth-child(4n+2) {
          background-color: rgba(0, 0, 0, 0.04);
        }

        @include media-breakpoint-down(sm) {
          &:nth-child(even) {
            background-color: rgba(0, 0, 0, 0.04);
          }
        }
      }
    }

    &.right {
      tr {
        &:nth-child(even) {
          background-color: rgba(0, 0, 0, 0.04);
        }
      }
    }
  }
</style>