<template>
  <div v-if="cases && cases.length" class="cases-container card" :class="{'details-active': popupActive}">
    <table>
      <tr class="case-header">
        <td>編號 <img class="icon-sort" src="./../assets/sort-icon.png" @click="toggleSorting((sortingMode === 'default-asen'? 'default-dese': 'default-asen'))"></td>
        <td>性別 <img class="icon-sort" src="./../assets/sort-icon.png" @click="toggleSorting((sortingMode === 'gender-asen'? 'gender-dese': 'gender-asen'))"></td>
        <td>年齡 <img class="icon-sort" src="./../assets/sort-icon.png" @click="toggleSorting((sortingMode === 'age-asen'? 'age-dese': 'age-asen'))"></td>
        <td>狀態 <img class="icon-sort" src="./../assets/sort-icon.png" @click="toggleSorting((sortingMode === 'status-asen'? 'status-dese': 'status-asen'))"></td>
        <td>身分 <img class="icon-sort" src="./../assets/sort-icon.png" @click="toggleSorting((sortingMode === 'role-asen'? 'role-dese': 'role-asen'))"></td>
        <td></td>
      </tr>
      <tr v-for="(cs, n) in sortedCases" :key="n" class="case">
        <td class="case-no">編號 {{ cs['no'] }}</td>
        <td class="case-gender">{{ cs['gg'] }}</td>
        <td class="case-age">{{ cs['年齡'] }}歲</td>
        <td class="case-status d-none d-sm-block">{{ cs['vvv'] }}</td>
        <td class="case-nationality flex-fill">{{ cs['ii'] }}</td>
        <td class="case-more color-purple"><a target="_blank" :href="cs['source']">更多資料</a></td>
      </tr>
    </table>
    <div class="case-details">
      <img class="icon-close" src="./../assets/icon-close-dark.png" @click="hideDetails">
      <p class="case-number text-bold">個案#{{ cases[selectedCase - 1]['no'] }}</p>
      <p class="meta">
        <span>性別: {{ cases[selectedCase - 1]['gg'] }}</span>
        <span>年齡: {{ cases[selectedCase - 1]['年齡'] }}</span>
        <span>發病日期: {{ cases[selectedCase - 1]['be'] }}</span>
      </p>
      <p class="meta">
        <span>現時狀態: {{ cases[selectedCase - 1]['vvv'] }}</span>
        <span>病源: {{ cases[selectedCase - 1]['cc'] }}</span>
      </p>
      <a v-if="cases[selectedCase - 1]['source']" target="_blank" :href="cases[selectedCase - 1]['source']">資料來源</a>
    </div>
  </div>
</template>

<script>
export default {
  name: "cases",
  props: {
    cases: {
      type: Array,
      default: () => ({})
    }
  },
  data() {
    return {
      popupActive: false,
      selectedCase: 1,
      sortingMode: 'default-dese'
    }
  },
  computed: {
    sortedCases() {
      const valueType = {
        '男': 2,
        '女': 1,
        '住院': 2,
        '出院': 1,
        '死亡': 3,
        '香港居民': 2,
        '非香港居民': 1
      }

      if (this.sortingMode == 'default-dese' ) {
        return this.cases.slice().reverse()
      } else if (this.sortingMode == 'default-asen') {
        return this.cases.slice()
      } else if (this.sortingMode == 'gender-asen') {
        return this.cases.slice().sort((a, b) => {
          return valueType[a['gg']] - valueType[b['gg']]
        })
      } else if (this.sortingMode == 'gender-dese') {
        return this.cases.slice().sort((a, b) => {
          return valueType[b['gg']] - valueType[a['gg']]
        })
      } else if (this.sortingMode == 'age-asen') {
        return this.cases.slice().sort((a, b) => {
          return a['年齡']*1 - b['年齡']*1
        })
      } else if (this.sortingMode == 'age-dese') {
        return this.cases.slice().sort((a, b) => {
          return b['年齡']*1 - a['年齡']*1
        })
      } else if (this.sortingMode == 'status-asen') {
        return this.cases.slice().sort((a, b) => {
          return valueType[a['vvv']] - valueType[b['vvv']]
        })
      } else if (this.sortingMode == 'status-dese') {
        return this.cases.slice().sort((a, b) => {
          return valueType[b['vvv']] - valueType[a['vvv']]
        })
      }  else if (this.sortingMode == 'role-asen') {
        return this.cases.slice().sort((a, b) => {
          return valueType[a['ii']] - valueType[b['ii']]
        })
      } else if (this.sortingMode == 'role-dese') {
        return this.cases.slice().sort((a, b) => {
          return valueType[b['ii']] - valueType[a['ii']]
        })
      }

      return this.cases.slice();
    }
  },
  methods: {
    showDetails(id) {
      this.popupActive = true
      this.selectedCase = id
    },
    hideDetails() {
      this.popupActive = false
    },
    toggleSorting(mode) {
      this.sortingMode = mode
    }
  }
};
</script>

<style lang="scss" scoped>
  .cases-container {
    position: relative;
    height: 360px;
    overflow: scroll;
    padding: 0;

    @include media-breakpoint-down(sm) {
      height: 70vh;
    }

    .icon-sort {
      width: 12px;
      margin-left: 8px;
      cursor: pointer;
      transition: opacity 0.2s ease-in-out;

      &:hover {
        opacity: 0.7;
      }
    }

    table {
      width: 100%;
      border-collapse:collapse;

      .case-header,
      .case {
        padding: 6px;
        // border-bottom: 1px solid rgba(0, 0, 0, 0.07);

        td {
          padding: 15px 10px;
          letter-spacing: 0.1em;

          &.case-more {
            cursor: pointer;
          }
        }
        
        &:nth-child(odd) {
          background-color: rgba(0, 0, 0, 0.04);
        }
      }
    }

    .case-details {
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgba(#f9f8f5, 0.9);
      padding: 30px;
      width: 100%;
      height: 100%;
      opacity: 0;
      pointer-events: none;

      .icon-close {
        cursor: pointer;
        width: 16px;
        position: absolute;
        right: 30px;
        top: 30px;
      }

      .case-number {
        margin-top: 5px;
      }

      .meta {
        span {
          display: inline-block;
          margin-right: 12px;

          &:last-child {
            margin-right: 0;
          }
        }
      }
    }

    &.details-active {
      overflow: hidden;

      .case-details {
        opacity: 1;
        pointer-events: auto;
      }
    }
  }
</style>