<template>
  <div class="daily-stat-tile d-flex flex-column h-100">
    <h4>個案統計</h4>
    <p>武漢肺炎今年1月襲港，掀起第一波疫情。至3月份全球開始淪陷，本港輸入個案劇增；7月份因邊境防疫漏洞而誘發本港疫情第三波，造成逾3000人確診、百人死亡，其中，7月30日錄得149宗確診個案，創單日新高。疫情於8月下旬開始緩和，但到了11月下旬再響起警號，疫情第四波來勢洶洶。</p>
    <div class="daily-stat card flex-lg-grow-1" ref="chartdiv" />
  </div>
</template>

<script>

import * as am4core from "@amcharts/amcharts4/core";
import * as am4charts from "@amcharts/amcharts4/charts";
import am4themes_animated from "@amcharts/amcharts4/themes/animated";

am4core.useTheme(am4themes_animated);

export default {
  name: "dailystat",
  props: {
    govInfoDailyStat: {
      type: Array,
      default: () => ({})
    }
  },
  watch: {
    govInfoDailyStat: function(newVal) {
      let chart = am4core.create(this.$refs.chartdiv, am4charts.XYChart)

      let data = []

      for (let i = 0; i < newVal.length; i++) {
        if (i > 10) {
          if (i % 4 === 0) {
            data.push({
              "date": new Date(this.govInfoDailyStat[i]['更新日期'].split('/')[2], this.govInfoDailyStat[i]['更新日期'].split('/')[1] - 1, this.govInfoDailyStat[i]['更新日期'].split('/')[0]),
              "value": this.govInfoDailyStat[i]['死亡'],
              "value3": this.govInfoDailyStat[i]['確診個案'],
              "value4": this.govInfoDailyStat[i]['出院']
            })
          }
        }
      }

      chart.data = data

      let dateAxis = chart.xAxes.push(new am4charts.DateAxis())
      dateAxis.renderer.grid.template.location = 0

      let valueAxis = chart.yAxes.push(new am4charts.ValueAxis())
      valueAxis.tooltip.disabled = true
      valueAxis.renderer.minWidth = 35

      function createSeries(field, name, color) {
        var series = chart.series.push(new am4charts.LineSeries());
        series.dataFields.valueY = field;
        series.dataFields.dateX = "date";
        series.name = name;
        series.tooltipText = "{dateX}: [b]{valueY}[/]";
        series.fill = am4core.color(color);
        series.stroke = am4core.color(color);
        series.strokeWidth = 1;
        
        // Set up tooltip
        series.adapter.add("tooltipText", function() {
          var text = "[bold]{dateX}[/]\n"
          chart.series.each(function(item) {
            text += "[" + item.stroke.hex + "]●[/] " + item.name + ": {" + item.dataFields.valueY + "}\n";
          });
          return text;
        });
        
        series.tooltip.getFillFromObject = false;
        series.tooltip.background.fill = am4core.color("#fff");
        series.tooltip.label.fill = am4core.color("#00");
        
        var bullet = series.bullets.push(new am4charts.CircleBullet());
        bullet.circle.stroke = am4core.color("#f1f0ed");
        bullet.circle.fill = am4core.color(color);
        bullet.circle.strokeWidth = 1;
        
        return series;
      }

      createSeries("value", "死亡人數", "#ff7c66");
      createSeries("value3", "感染人數", "#0f6a8e");
      createSeries("value4", "出院人數", "#8acea8");

      chart.legend = new am4charts.Legend();
      chart.cursor = new am4charts.XYCursor();
      chart.cursor.maxTooltipDistance = 0;

      this.chart = chart
    }
  }
};
</script>

<style lang="scss">
  .daily-stat {
    height: 300px;
  }
</style>