<template>
  <div v-if="lastestCase" class="latest-case">
    <h4>最新個案</h4>
    <p class="meta">
      <span>性別: {{ lastestCase['gg'] }}</span>
      <span>年齡: {{ lastestCase['年齡'] }}</span>
      <span>發病日期: {{ lastestCase['be'] }}</span>
    </p>
    <p class="meta">
      <span>病源: {{ lastestCase['gg'] }}</span>
      <span>年齡: {{ lastestCase['年齡'] }}</span>
      <span>發病日期: {{ lastestCase['be'] }}</span>
    </p>
    <p>{{ lastestCase['入住醫院名稱'] }}</p>
    <a v-if="lastestCase['source']" target="_blank" :href="lastestCase['source']">資料來源</a>
  </div>
</template>

<script>
export default {
  name: "latest-cases",
  props: {
    cases: {
      type: Array,
      default: () => ({})
    }
  },
  data() {
    return {
      lastestCase: []
    }
  },
  watch: {
    cases: function() {
      if (this.cases.length) {
        this.lastestCase = this.cases[this.cases.length - 1];
      }
    }
  }
};
</script>

<style lang="scss" scoped>
  .latest-case {
    opacity: 1;

    .meta {
      span {
        display: inline-block;
        margin-right: 12px;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
</style>