<template>
  <aside>
    <section v-if="govInfoDailyStat.length" class="section-main-stat">
      <div class="row header-row">
        <div class="col pt-4 d-flex justify-content-md-between">
          <h1>
            <span>眾新聞 - 武漢肺炎本港疫情</span>
            <a title="眾新聞" target="_blank" href="https://www.hkcnews.com">
              <img class="icon-close" src="./../assets/hkcnews_400x400.png">
            </a>
          </h1>
          <div class="title pl-3 pl-md-0">
            <h4>武漢肺炎本港疫情互動專頁</h4>
            <p>更新日期: {{ govInfoDailyStat[govInfoDailyStat.length - 1]['更新日期'] }} {{ govInfoDailyStat[govInfoDailyStat.length - 1]['更新時間'] }}</p>
          </div>
        </div>
      </div>
      <div class="row stat-label">
        <div class="col">
          <p>
            <span class="text-bold">疫情數據一覽</span>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-6 d-flex section-main-stat-item">
          <div class="number">
            <h2 class="color-purple">{{ govInfoDailyStat[govInfoDailyStat.length - 1]['死亡'] }}</h2>
          </div>
          <div class="stat-label">
            <p>
              <span class="text-bold">人死亡</span><br>
              <span v-if="govInfoDailyStat[govInfoDailyStat.length - 1]['死亡'] - govInfoDailyStat[govInfoDailyStat.length - 2]['死亡'] !== 0 && shouldShowRate" class="small color-pink">
                ▲{{ govInfoDailyStat[govInfoDailyStat.length - 1]['死亡'] - govInfoDailyStat[govInfoDailyStat.length - 2]['死亡'] }}
              </span>
            </p>
          </div>
        </div>
        <div class="col-6 d-flex pl-0 section-main-stat-item">
          <div class="number">
            <h2 class="color-purple">{{ govInfoDailyStat[govInfoDailyStat.length - 1]['確診個案'] }}</h2>
          </div>
          <div class="stat-label">
            <p>
              <span class="text-bold">人確診</span><br>
              <span v-if="govInfoDailyStat[govInfoDailyStat.length - 1]['確診個案'] - govInfoDailyStat[govInfoDailyStat.length - 2]['確診個案'] !== 0 && shouldShowRate" class="small color-pink">
                ▲{{ govInfoDailyStat[govInfoDailyStat.length - 1]['確診個案'] - govInfoDailyStat[govInfoDailyStat.length - 2]['確診個案'] }}
              </span>
              <span v-else-if="govInfosummary.displayingSanityInfo && govInfoDailyStat[govInfoDailyStat.length - 1]['確診個案'] - govInfoDailyStat[govInfoDailyStat.length - 2]['確診個案'] == 0 && govInfoDailyStat[govInfoDailyStat.length - 1]['確診個案'] - govInfoDailyStat[govInfoDailyStat.length - 3]['確診個案'] !== 0" class="small color-pink">
                ▲{{ govInfoDailyStat[govInfoDailyStat.length - 1]['確診個案'] - govInfoDailyStat[govInfoDailyStat.length - 3]['確診個案'] }}
              </span>
              <span v-else-if="shouldShowRate" class="small color-grey">
                --
              </span>
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-6 d-flex section-main-stat-item">
          <div class="stat-label">
            <p>
              <span class="text-bold">留院</span>
            </p>
            <h3 v-if="govInfosummary.numberOfHospitalised" class="color-purple">
              {{ govInfosummary.numberOfHospitalised }}
              <span class="small color-pink">
                {{ govInfoDailyStat[govInfoDailyStat.length - 1]['住院危殆個案'] }}人危殆
              </span>

            </h3>

            <h3 v-else-if="govInfoDailyStat[govInfoDailyStat.length - 2]['仍然住院接受檢查個案']" class="color-purple">
              {{ govInfoDailyStat[govInfoDailyStat.length - 2]['仍然住院接受檢查個案'] }}
            </h3>

            <h3 v-else-if="govInfoDailyStat[govInfoDailyStat.length - 3]['仍然住院接受檢查個案']" class="color-purple">
              {{ govInfoDailyStat[govInfoDailyStat.length - 3]['仍然住院接受檢查個案'] }}
            </h3>
          </div>
        </div>

        <div class="col-6 d-flex pl-0 section-main-stat-item">
          <div class="stat-label">
            <p>
              <span class="text-bold">出院</span>
            </p>
            <h3 class="color-purple">
              {{ govInfoDailyStat[govInfoDailyStat.length - 1]['出院'] }}
              <span v-if="govInfoDailyStat[govInfoDailyStat.length - 1]['出院'] - govInfoDailyStat[govInfoDailyStat.length - 2]['出院'] > 0" class="small color-pink">
                ▲{{ govInfoDailyStat[govInfoDailyStat.length - 1]['出院'] - govInfoDailyStat[govInfoDailyStat.length - 2]['出院'] }}
              </span>
              <span v-else-if="govInfoDailyStat[govInfoDailyStat.length - 1]['出院'] - govInfoDailyStat[govInfoDailyStat.length - 2]['出院'] < 0" class="small color-green">
                ▼{{ govInfoDailyStat[govInfoDailyStat.length - 2]['出院'] - govInfoDailyStat[govInfoDailyStat.length - 1]['出院'] }}
              </span>
            </h3>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-6 section-main-stat-item">
          <div class="stat-label">
            <p>
              <span class="text-bold">待入院</span>
            </p>
            <h3 class="color-purple">
              {{ govInfosummary.numberOfWaiting }}
            </h3>
          </div>
        </div>

        <div v-if="govInfosummary.unknown > 0" class="col-6 pl-0 section-main-stat-item">
          <div class="stat-label">
            <p>
              <span class="text-bold">未知送院情況</span>
            </p>
            <h3 class="color-purple">
              {{ govInfosummary.unknown }}
            </h3>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col section-main-stat-item">
          <div class="ratio-bar-container">
            <div class="male-female-ratio-label">
              <span class="stat-male color-purple text-bold">
                {{ govInfosummary.numberOfMale }}人
              </span>
              <span class="stat-female color-pink text-bold">
                {{ govInfosummary.totalCases - govInfosummary.numberOfMale }}人
              </span>
              <span class="label-male color-grey small">
                男
              </span>
              <span class="label-female color-grey small">
                女
              </span>
            </div>
            <div class="male-female-ratio-bar">
              <div class="ratio-bar male-bar" :style="{width: (govInfosummary.numberOfMale*100 / govInfoDailyStat[govInfoDailyStat.length - 1]['確診個案']).toFixed(1) + '%'}" />
            </div>
          </div>

          <div class="stat-label">
            <p>
              <span class="text-bold">年齡分布</span>
            </p>
            <div class="d-flex justify-content-between">
              <p>最小: <span class="color-purple text-bold">0</span>歲</p>
              <p>最大: <span class="color-purple text-bold">{{govInfosummary.oldest}}</span>歲</p>
              <p>中位數: <span class="color-purple text-bold">{{govInfosummary.median}}</span>歲</p>
            </div>
          </div>

          <p style="margin-top: 24px;">無病徵個案人數: <span class="color-purple text-bold">{{govInfosummary.noSymptoms}}</span>人</p>
          <p>發病至確診平均日數: <span class="color-purple text-bold">{{govInfosummary.gracePeriodDateAverage}}</span>日</p>
        </div>
      </div>
      <hr>
      <div class="row">

        <div class="col section-main-stat-item">
          <div class="stat-label">
            <p>
              <span class="text-bold">病源</span>
            </p>
            <p>
              「本地」包括本地個案及與其有流行病學關連的個案；「可能本地」包括可能本地個案及與其有流行病學關連的個案；「輸入」包括輸入個案與其有流行病學關連的個案。
            </p>
          </div>
          <div class="ratio-bar-container">
            <div class="male-female-ratio-label">
              <span class="stat-inland color-purple text-bold">
                {{(govInfosummary.localCases*100 / govInfosummary.totalCases).toFixed(1)}}%
              </span>
              <span class="stat-overseas color-green text-bold" :style="{right: ((govInfosummary.totalCases -govInfosummary.localCases - govInfosummary.notSureCases)*100 / govInfosummary.totalCases).toFixed(1) + '%'}">
                {{(govInfosummary.notSureCases*100 / govInfosummary.totalCases).toFixed(1)}}%
              </span>
              <span class="stat-unknow color-pink text-bold">
                {{(govInfosummary.importCases*100 / govInfosummary.totalCases).toFixed(1)}}%
              </span>
              <span class="label-inland color-grey small">
                本地
              </span>
              <span class="label-oversea color-grey small" :style="{right: ((govInfosummary.totalCases -govInfosummary.localCases - govInfosummary.notSureCases)*100 / govInfosummary.totalCases).toFixed(1) + '%'}">
                可能本地
              </span>
              <span class="label-unknown color-grey small">
                輸入
              </span>
            </div>
            <div class="male-female-ratio-bar">
              <div class="ratio-bar inland-bar" :style="{width: ((govInfosummary.localCases + govInfosummary.notSureCases)*100 / govInfosummary.totalCases).toFixed(1) + '%'}" />
              <div class="ratio-bar oversears-bar" :style="{width: (govInfosummary.localCases*100 / govInfosummary.totalCases).toFixed(2) + '%'}" />
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col section-main-stat-item section-main-stat-item">
          <div class="stat-label">
            <p>
              <span class="text-bold">疫情重災區</span>
            </p>
            <p>
              綜合過去14天內曾有確診個案居住過的住宅大廈、曾有確診個案於發病前兩天起到訪過的大廈、超過一宗確診個案在潛伏期或發病到到訪過的非住宅大廈名單，整合確診個案的活動範圍。以下依次列出個案最多的地區：
            </p>
          </div>
          <div class="districts">
            <div v-for="(district, n) in infectionDistricts" :key="n" class="district" :class="{'d-none': n > 5, 'd-md-flex': n > 5, 'd-flex': n < 6}">
              <label>{{ district[0] }}({{district[1]}})</label>
              <div class="district-bar">
                <div class="district-bar-inner" :style="{width: (district[1]*100/infectionDistricts[0][1]) + '%'}" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col">
          <p>本網資料源自衛生防護中心，每日更新一次，增幅／減幅顯示與前一天數字的比較。</p>

          <p class="small">本專頁由眾新聞與本地設計工作室 <a title="Y714 Studio" target="_blank" href="https://www.y714.com">Y714</a> 及開發人員Howard Yiu、Pang Chan及Keith Chan合作制作</p>
        </div>
      </div>
    </section>
  </aside>
</template>

<script>
export default {
  name: 'sidebar',
  props: {
    govInfosummary: {
      type: Object,
      default: () => ({})
    },
    govInfoDailyStat: {
      type: Array,
      default: () => ({})
    },
    govInfoBuildingList: {
      type: Array,
      default: () => ({})
    }
  },
  data() {
    return {
      infectionDistricts: {}
    }
  },
  watch: {
    govInfoBuildingList: function() {
      let theList = {}

      for (let i = 0; i < this.govInfoBuildingList.length; i++) {
        if (theList[this.govInfoBuildingList[i]['地區']]) {
          theList[this.govInfoBuildingList[i]['地區']] += this.govInfoBuildingList[i]['相關疑似/確診個案'].split(',').length
        } else {
          theList[this.govInfoBuildingList[i]['地區']] = this.govInfoBuildingList[i]['相關疑似/確診個案'].split(',').length
        }
      }

      let sortable = [];
      for (let district in theList) {
          sortable.push([district, theList[district]]);
      }

      sortable.sort(function(a, b) {
        return b[1] - a[1];
      })

      this.infectionDistricts = sortable
    }
  },
  computed: {
    shouldShowRate () {
      // if (this.govInfoDailyStat[this.govInfoDailyStat.length - 1]['更新日期'].substr(0,2)*1 - this.govInfoDailyStat[this.govInfoDailyStat.length - 2]['更新日期'].substr(0,2)*1 > 1) {
      //   return false
      // }

      return true
    }
  },
  methods: {
    calGracePeriod (covidcase) {
      let start = covidcase['be'].substr(3, 2) + '/' + covidcase['be'].substr(0, 2) + '/' + covidcase['be'].substr(6, 4)
      let end = covidcase['rr'].substr(3, 2) + '/' + covidcase['rr'].substr(0, 2) + '/' + covidcase['rr'].substr(6, 4)

      return (new Date(end) - new Date(start))
    }
  }
};

</script>

<style lang="scss">
  aside {
    position: absolute;
    height: 100%;
    width: 380px;
    top: 0;
    left: 0;
    padding: 0 20px;
    background-color: #fff;
    // overflow: scroll;
    -ms-overflow-style: none;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05), 2px 2px 0px 3px rgba(0, 0, 0, 0.03);

    @include media-breakpoint-down(sm) {
      position: relative;
      height: auto;
      width: 100%;
      padding: 0 30px;
    }

    .header-row {
      margin-bottom: 14px;

      h1 {
        line-height: 1;
        border-radius: 50%;
        margin: 0;
        width: 44px;
        height: 44px;
        position: relative;
        overflow: hidden;

        @include media-breakpoint-down(sm) {
          margin: 0;
        }

        span {
          display: block;
          height: 0;
          text-indent: -9999px;
        }

        img {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
        }
      }

      .title {
        // position: absolute;
        // right: $grid-gutter-width / 2;
        // top: 0;
        text-align: right;

        @include media-breakpoint-down(sm) {
          top: 15px;
          right: unset;
          left: 70px;
          text-align: left;
        }

        h4,
        p {
          margin: 0;
        }

        p {
          opacity: 0.6;
          font-size: 12px;
        }
      }
    }

    .updated-date {
      font-size: 12px;
      width: 100%;
    }

    .section-main-stat-item {
      width: 100%;
      margin-bottom: 6px;

      h2 {
        font-size: 38px;
      }

      h2,
      h3,
      p {
        margin: 0;
      }

      .number {
        padding: 0 5px 0 0;
      }

      .stat-label {
        padding: 10px 0 0 0;
      }

      .districts {
        margin-top: 16px;

        .district {
          margin: 4px 0;

          label {
            width: 80px;
            float: left;
          }

          .district-bar {
            height: 8px;
            width: calc(100% - 80px);
            float: left;
            margin-top: 6px;

            .district-bar-inner {
              background-color: $purple;
              height: 100%;
            }
          }

          &:after {
            content: '';
            clear: both;
            display: table;
          }
        }
      }

      .ratio-bar-container {
        position: relative;
        padding-top: 24px;
        margin-bottom: 24px;

        .male-female-ratio-label {
          position: absolute;
          top: 2px;
          width: 100%;

          .stat-female,
          .stat-unknow,
          .stat-overseas {
            position: absolute;
            right: 0;
          }

          .label-male,
          .label-inland,
          .label-oversea {
            position: absolute;
            top: 32px;
            left: 0;
          }

          .label-oversea {
            text-align: right;
          }

          .label-female,
          .label-unknown {
            position: absolute;
            top: 32px;
            right: 0;
          }
        }

        .male-female-ratio-bar {
          height: 8px;
          width: 100%;
          border-radius: 4px;
          background-color: $pink;
          overflow: hidden;
          position: relative;

          .ratio-bar {
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
          }

          .male-bar,
          .oversears-bar {
            background-color: $purple;
          }

          .inland-bar {
            background-color: $green;
          }
        }
      }
    }
  }
</style>