<template>
  <div class="web-map"></div>
</template>

<script>
import { loadModules } from "esri-loader";
import * as mapstyle from "../assets/map-style.json";

export default {
  name: "web-map",
  props: {
    cases: {
      type: Array,
      default: () => ({})
    }
  },
  data() {
    return {
      map: {},
      view: {}
    }
  },
  watch: {
    cases: function() {
      if (this.cases.length) {
        // lazy load the required ArcGIS API for JavaScript modules and CSS
        loadModules(
          [
            "esri/Map",
            "esri/views/MapView",
            "esri/Basemap",
            "esri/Graphic",
            "esri/layers/GraphicsLayer",
            "esri/request",
            "esri/layers/VectorTileLayer"
          ],
          { css: true }
        ).then(
          ([
            ArcGISMap,
            MapView,
            Basemap,
            Graphic,
            GraphicsLayer,
            esriRequest,
            VectorTileLayer
          ]) => {
            const basemap = new Basemap({
              baseLayers: [
                new VectorTileLayer({
                  style: mapstyle.default
                })
              ]
            });

            this.map = new ArcGISMap({
              basemap: basemap
            });

            const graphicsLayer = new GraphicsLayer();
            this.map.add(graphicsLayer);

            this.view = new MapView({
              container: this.$el,
              map: this.map,
              center: [114.1694, 22.3193],
              zoom: 10,
              popup: {
                dockEnabled: true,
                dockOptions: {
                  buttonEnabled: false,
                  breakpoint: false
                }
              }
            });

            const simpleMarkerSymbol = {
              type: "simple-marker",
              color: [15, 106, 142], // blue
              outline: {
                color: [255, 255, 255], // white
                width: 1
              }
            }

            const simpleMarkerSymbolRed = {
              type: "simple-marker",
              color: [196, 57, 94], // blue
              outline: {
                color: [255, 255, 255], // white
                width: 1
              }
            }

            let popupTemplate = {}
            let pointGraphic = {}
            let casePoints = []

            for (let i = 0; i < this.cases.length; i++) {
              if (this.cases[i]['ls'] && this.cases[i]['ls'].length > 5 && this.cases[i]['vvv'] !== '出院' && this.cases[i]['vvv'] !== '死亡') {
                let parsed
                try {
                  parsed = JSON.parse(this.cases[i]['ls'])
                } catch (e) {
                  continue
                }

                casePoints = parsed

                for(let y = 0; y < casePoints.length; y++) {
                  popupTemplate = {
                    title: "個案{No}- {Name}",
                    content: "<p><b>現時狀態:</b>{Status}</p><p><b>年齡:</b> {Age}</p><p><b>性別:</b> {Gender}</p><p><b>病源:</b> {Source}</p>"
                  }

                  pointGraphic = new Graphic({
                    geometry: {
                      type: "point",
                      longitude: casePoints[y].lng,
                      latitude: casePoints[y].lat
                    },
                    symbol: (this.cases[i]['vvv'] === '待入院')? simpleMarkerSymbolRed : simpleMarkerSymbol,
                    attributes: {
                      Name: casePoints[y].label,
                      Description: this.cases[i]['cd'],
                      Gender: this.cases[i]['gg'],
                      Age: this.cases[i]['年齡'],
                      Source: this.cases[i]['cc'],
                      No: this.cases[i]['no'],
                      Status: this.cases[i]['vvv']
                    },
                    popupTemplate: popupTemplate
                  })

                  graphicsLayer.add(pointGraphic);
                }
              }
            }

            let url =
              "https://services3.arcgis.com/6j1KwZfY2fZrfNMR/ArcGIS/rest/services/Hong_Kong_18_Districts/FeatureServer/0//query?where=1%3D1&objectIds=&time=&geometry=&geometryType=esriGeometryEnvelope&inSR=&spatialRel=esriSpatialRelIntersects&resultType=none&distance=0.0&units=esriSRUnit_Meter&returnGeodetic=false&outFields=&returnGeometry=true&returnCentroid=false&featureEncoding=esriDefault&multipatchOption=xyFootprint&maxAllowableOffset=&geometryPrecision=&outSR=&datumTransformation=&applyVCSProjection=false&returnIdsOnly=false&returnUniqueIdsOnly=false&returnCountOnly=false&returnExtentOnly=false&returnQueryGeometry=false&returnDistinctValues=false&cacheHint=false&orderByFields=&groupByFieldsForStatistics=&outStatistics=&having=&resultOffset=&resultRecordCount=&returnZ=false&returnM=false&returnExceededLimitFeatures=true&quantizationParameters=&sqlFormat=none&f=html&token=";

            let options = {
              responseType: "json",
              query: {
                f: "json",
                where: "1=1"
              }
            };

            esriRequest(url, options);
          }
        );
      }
    }
  },
  beforeDestroy() {
    if (this.view) {
      // destroy the map view
      this.view.container = null;
    }
  }
};
</script>

<style lang="scss">
.web-map {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 440px;

  .esri-popup__main-container {
    // padding: $grid-gutter-width / 2;
  }

  .esri-popup--shadow {
    border-radius: 2px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 1px 1px 0 1px rgba(0, 0, 0, 0.05);
  }

  .esri-popup__main-container .esri-popup__footer .esri-popup__button {
    font-size: 15px;
  }

  [class*="esri-popup--is-docked-top-"] .esri-popup__footer,
  [class*="esri-popup--aligned-bottom-"] .esri-popup__footer {
    border-bottom: 1px solid #ececec;
  }

  .esri-popup__header-title {
    color: #4e4e4e;
  }

  .esri-feature p {
    color: #4e4e4e;
    margin-bottom: 8px !important;
  }

  .esri-popup__icon {
    color: #c3c3c3;
  }
}
</style>