<template>
  <div id="app" class="page-wars vue-cli plugin-bootstrap plugin-arcgis">
    <div class="dashboard-container">
      <sidebar
        :govInfosummary="govInfosummary"
        :govInfoDailyStat="govInfoDailyStat"
        :govInfoBuildingList="govInfoBuildingList"
      />
      <div class="container-fluid">
        <div class="row">

          <section class="col-lg-12 p-0">
            <div class="section-inner">
              <web-map
                :cases="govInfoCases.slice(1399)"
              />
              <div class="legands text-right px-4">
                <div class="legand">
                  <span class="dot-blue" />
                  患者居所，點擊可查看個案詳情
                </div>
                <div class="legand">
                  <span class="dot-red" />
                  未送院患者
                </div>
              </div>
            </div>
          </section>

          <section class="col-md-12 border-lg-right py-4">
            <div class="section-inner h-100">
              <dailystat
                :govInfoDailyStat="govInfoDailyStat"
              />
            </div>
          </section>
          
          <section class="col-md-12 py-4">
            <div class="section-inner">
              <div>
                <h4><span>個案分析</span></h4>
                <div class="row">
                  <p class="col-md-9">
                    下圖以不同顏色代表6種不同病源個案（詳見下方圖例）；菱形代表男性、圓形代表女性。每一條線條顯示由病人發病到確診之間的時間長度。
                  </p>
                </div>
                <!-- <img src="./assets/2019_ncov_age_gender_time_20200220.jpg"> -->
                <date-graph :raw-cases="govInfoCases" :raw-dates="govInfoDailyStat" />
              </div>
            </div>
            <div class="section-inner">
              <cases
                :cases="govInfoCases"
              />
            </div>
          </section>

          <section class="col-md-12 py-4">
            <div class="section-inner">
              <buildings
                :govInfoBuildingList="govInfoBuildingList"
                :govInfoDailyStat="govInfoDailyStat"
              />
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios"

import WebMap from './components/WebMap.vue'
import Sidebar from './components/Sidebar.vue'
import Dailystat from './components/Dailystat.vue'
import Cases from './components/Cases.vue'
import DateGraph from './components/DateGraph.vue'
import Buildings from './components/Buildings.vue'

export default {
  name: 'app',
  components: {
    WebMap,
    Sidebar,
    Dailystat,
    Cases,
    DateGraph,
    Buildings
  },
  data() {
    return {
      govInfoCases: [],
      govInfoDailyStat: [],
      govInfoBuildingList: [],
      sanityInfoCases: [],
      sanityCovidInfo: {},
      govInfosummary: {}
    }
  },
  mounted () {
    this.fetchData()
  },
  methods: {
    fetchData() {
      const hongkongTodayTimeStamp = new Date(new Date().getTime() + new Date().getTimezoneOffset() * 1000 * 60 + 8 * 60 * 1000 * 60).getTime()
      let fetchDate = new Date(hongkongTodayTimeStamp)
      let fetchDateFormat = fetchDate.getFullYear() + ((fetchDate.getMonth() + 1) < 10 ? '0' + (fetchDate.getMonth() + 1) : '' + (fetchDate.getMonth() + 1)) + ((fetchDate.getDate()) < 10 ? '0' + (fetchDate.getDate()) : '' + (fetchDate.getDate()))

      axios.get('https://storage.googleapis.com/covid19-api-8e11a.appspot.com/enhanced_sur_covid_19_chi/enhanced_sur_covid_19_chi-' + fetchDateFormat + '.json')
      .then((response) => {
        this.govInfoCases = response.data
      })

      axios.get('https://storage.googleapis.com/covid19-api-8e11a.appspot.com/govInfoDailyStat-' + fetchDateFormat + '.json')
        .then((response) => {
          this.govInfoDailyStat = JSON.parse(response.data.govInfoDailyStat)
          this.govInfosummary = JSON.parse(response.data.govInfosummary)
        })

      axios.get('https://api.data.gov.hk/v2/filter?q=%7B%22resource%22%3A%22http%3A%2F%2Fwww.chp.gov.hk%2Ffiles%2Fmisc%2Fbuilding_list_chi.csv%22%2C%22section%22%3A1%2C%22format%22%3A%22json%22%7D')
      .then((response) => {
        this.govInfoBuildingList = response.data
      })
    }
  }
}
</script>

<style lang="scss">
#app {
  background-color: #f9f8f5;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  .dashboard-container {
    position: relative;
    padding-left: 380px;

    @include media-breakpoint-down(sm) {
      padding: 0;
    }

    .section-inner {
      margin-bottom: 25px;
    }
  }

  .age-vs-gender {
    padding-right: 20px;
  }

  .legands {
    margin-top: 12px;

    .legand {
      display: inline-block;
      font-size: 12px;
      letter-spacing: 0.1em;
      margin-right: 20px;

      &:last-child {
        margin-right: 0;
      }

      .dot-blue {
        display: block;
        width: 17px;
        height: 17px;
        background: $purple;
        border-radius: 50%;
        float: left;
        margin-right: 8px;
      }

      .dot-red {
        display: block;
        width: 17px;
        height: 17px;
        background: #c4395e;
        border-radius: 50%;
        float: left;
        margin-right: 8px;
      }
    }
  }
}

section {
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.border-lg-right {
  @include media-breakpoint-up(lg) {
    border-right: 1px solid rgba(0, 0, 0, 0.05);
  }
}
</style>
